
.home{
    margin-top: 80px;
    margin-left: 500px;
}

#img{
    width:400px;
    height:400px;
    border-radius: 200px;
    gap:90px;
}
#h1{
    margin-top: 30px;
     font-style: italic;
     font-family:cursive;
     font-size: 40px;
     color:cadetblue;
     margin-left: -50px;
     gap:80px;
}
#para{
    margin-top: 20px;
    font-size: 20px;
    margin-left: -80px;

 }
 #resume{
    width: 80px;
    height:80px;
    border-radius:50px;
    margin-top:-5px;

 }
 #connect{
    width: 80px;
    height:60px;
    border-radius:65px;

 }
 .bottom-connect{
    display: flex;
    gap:50px;
    margin-top: 50px;
    margin-left: 125px;
 }